$font-header-color: #212121;
$font-text-color: #757575;
$accent-color: #2196f3;
$dark-background: #f5f4fa;
$footer-color: #2f303a;
$footer-adress: rgba(255, 255, 255, 0.6);
$border-color: #ececec;
$icon-color: #afb1b8;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);