.logo {


    display: block;
    width: 135px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;



    @include tablet {
        margin-right: 90px;
    }

    @include desktop {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo__first-letter {
    color: $accent-color;
}

.logo__second-letter {
    color: #000
}

.logo__second-letter--footer {
    color: #fff;
}

.logo--header {
    @include allPhones {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.logo--footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    @include desktop {
        margin: 0 0 20px 0;

    }


}