.solutions {
    padding: 118px 60px;
    background-color: #c4c4c4;
    background-image: linear-gradient(to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/backgroundmobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-right: auto;
    margin-left: auto;

    @include mobileSmall {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/backgroundmobile@2x.jpg);
    }


    @include tablet {
        background-image: linear-gradient(to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/backgroundtablet.jpg);


        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to bottom,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/backgroundtablet@2x.jpg);
        }
    }

    @include desktop {
        height: 600px;
        padding: 200px 0px;
        background-image: linear-gradient(to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/backgrounddesktop.jpg);

        // background-size: 1600px 600px;
        max-width: 1600px;
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to bottom,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/backgrounddesktop@2x.jpg);
        }
    }


}

.solutions__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 479px) {
        gap: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

.solutions__title {

    color: #fff;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 30px;

    @media screen and (max-width: 1199px) {


        max-width: 360px;
    }

    @include desktop {
        font-size: 44px;
        line-height: 1.36;
        max-width: 700px;
    }
}