.button {
    min-width: 200px;
    height: 50px;
    padding: 10px;
    background-color: $accent-color;
    color: #fff;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms $transition-function;

    &:hover,
    &:focus {
        background-color: #188ce8
    }
}

.button--solutions {
    padding: 10px 32px;
}

.button--footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modal__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.button--modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-filters__button {
    padding: 6px 22px;
    color: $font-header-color;
    background-color: $dark-background;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms $transition-function, color 250ms $transition-function, box-shadow 250ms $transition-function;

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: #fff;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

