.site-nav__link--current {
    color: $accent-color;
    position: relative;

  
}

.site-nav__link--current::after {

    @include tablet {
content: "";
display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: $accent-color;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    }
    

}